.places {
    padding: 20px 0;
}

.places h1 {
    font-size: 30px;
    margin-bottom: 20px; /* Creates space between the title and the listings */
}

article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: inline-block; /* Adjust as necessary to fit the horizontal/vertical listing requirement */
}

article h2 {
    font-size: 30px;
    text-align: center;
    margin: 0; /* Adjust the margin as necessary */
}
